.heading {
    text-align: center;
}

#body-paragraph {
    margin: 5% 20%;
    padding: 2%;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid blue;
    background-color: lightgray;
}

.image-wrapper{
    text-align: center;
}

#image {
    width: 300px;
    height: 300px;
}